<div class="width-controls">
	<button class="sub" (click)="removeColumn()">Width -</button>
	<button class="add" (click)="addColumn()">Width +</button>
</div>
<div class="height-controls">
	<button class="sub" (click)="removeRow()">Height -</button>
	<button class="add" (click)="addRow()">Height +</button>
</div>

{{ width }} x {{ height }}
<table class="rooms-grid">
	<tr class="room-row" *ngFor="let row of rooms; let y = index">
		<td class="room-cell" *ngFor="let room of row; let x = index">
			<div
				class="connection-add connection-horizontal"
				*ngIf="
					x < width - 1 &&
					row[x + 1] !== undefined &&
					room !== undefined
				"
				(click)="addConnection(room, row[x + 1])"
				matTooltip="Verbinden"
			>
				+
			</div>
			<div
				class="connection-add connection-vertical"
				*ngIf="
					y < height - 1 &&
					rooms[y + 1][x] !== undefined && room !== undefined
				"
				(click)="addConnection(room, rooms[y + 1][x])"
				matTooltip="Verbinden"
				[matTooltipPosition]="'after'"
			>
				+
			</div>
			<div class="room" *ngIf="room">
				<div class="default-icon" *ngIf="room.isDefaultRoom">
					<span>D</span>
				</div>
				{{ room?.name }}
				<div class="toolbar">
					<div class="item" (click)="deleteRoom(room)">Löschen</div>
				</div>
			</div>
			<div
				class="room-add"
				*ngIf="!room"
				routerLink="create"
				[queryParams]="{ x: x, y: y }"
			>
				+
			</div>
		</td>
	</tr>
</table>

<div class="popup">
	<router-outlet></router-outlet>
</div>
