<h2>Areas</h2>
<div class="areas">
	<mh-area-element
		*ngFor="let area of areas"
		class="area"
		[routerLink]="area.areaId + '/rooms'"
		routerLinkActive="active"
		[area]="area"
		(update)="updateName(area, $event)"
		(delete)="deleteArea($event)"
	></mh-area-element>

	<div class="area-new" *ngIf="isFormActive">
		<input
			type="text"
			class=""
			#nameInput
			(keydown.enter)="onAdd(nameInput)"
		/>
		<div class="close" (click)="isFormActive = false">
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="add-area" *ngIf="!isFormActive" (click)="isFormActive = true">
		+
	</div>
</div>
