<div class="container">
	<mh-exit-button class="exit" routerLink="../../"></mh-exit-button>
	<h2>Portale verwalten</h2>

	<div class="portals">
		<div class="portal" *ngFor="let portal of portals">
			<div class="source">{{ portal.room1 }}</div>
			<mat-icon class="arrow-icon">sync_alt</mat-icon>
			<div class="destination">{{ portal.room2 }}</div>
		</div>
	</div>

	<hr>

	<div class="form-row">
		<mat-form-field>
			<mat-label>Ziel-Area</mat-label>
			<mat-select [(value)]="selectedArea">
				<mat-option *ngFor="let area of areas" [value]="area">{{ area.name }}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Ziel-Raum</mat-label>
			<mat-select [disabled]="selectedArea === undefined || rooms?.length === 0" [(value)]="selectedRoom">
				<mat-option *ngFor="let room of rooms" [value]="room">{{ room.name }}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<button mat-button (click)="create(selectedArea, selectedRoom)">Verbinden</button>
</div>
