@import '../../../variables.scss';

:host {
	height: 100%;
	background-color: #eee;
	display: block;
	overflow-y: auto;
}

.navbar {

	img {
		width: 6.25rem;
		height: auto;
	}

	.user-menu {
		margin-left: auto;
	}
}

.container {
	width: calc(100% - 4rem);
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}
