@import '../../../variables.scss';

:host {
	height: 100%;
	background-color: #eee;
	display: block;
	overflow-y: auto;
}

.navbar {

	img {
		width: 6.25rem !important;
		height: 3.75rem !important;
	}

	.user-menu {
		margin-left: auto;
	}
}

.container {
	width: calc(100% - 4rem);
	max-width: 1000px;
	margin: 2rem auto 0 auto;
	padding: 2rem;
	// background-color: #fff;
	// border-radius: 4px;
	// box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
	// 	0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
