<mat-toolbar class="navbar">
	<img src="/assets/img/mudhub_logo.svg" />
	<button mat-button routerLinkActive="mat-accent" routerLink="/muds">
		Übersicht
	</button>
	<button mat-button routerLinkActive="mat-accent" routerLink="/my-games">
		Meine Charaktere
	</button>
	<button
		mat-button
		routerLinkActive="mat-accent"
		routerLink="/my-muds"
		*ngIf="user.roles.includes('Master')"
	>
		Meine MUDs
	</button>
	<button mat-button [matMenuTriggerFor]="adminMenu">
		Admin
	</button>
	<mat-menu #adminMenu="matMenu">
		<button mat-menu-item routerLink="/admin/users">
			User-Management
		</button>
		<button mat-menu-item routerLink="/admin/muds">
			MUD-Management
		</button>
	</mat-menu>

	<mat-menu #userMenu="matMenu" xPosition="before">
		<button mat-menu-item routerLink="/profile">Mein Profil</button>
		<button mat-menu-item (click)="logout()">Logout</button>
	</mat-menu>
	<button class="user-menu" mat-button [matMenuTriggerFor]="userMenu">
		{{ name }}
	</button>
</mat-toolbar>

<div class="container">
	<router-outlet></router-outlet>
</div>
