@import "variables.scss";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-mudhubpalette: (
    50 : #fef3e4,
    100 : #fde0bc,
    200 : #fccc8f,
    300 : #fab762,
    400 : #f9a740,
    500 : #f8981e,
    600 : #f7901a,
    700 : #f68516,
    800 : #f57b12,
    900 : #f36a0a,
    A100 : #ffffff,
    A200 : #fff1e9,
    A400 : #ffd1b6,
    A700 : #ffc09c,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $client-primary: mat-palette($mat-indigo);
$client-primary: mat-palette($md-mudhubpalette);
// $client-accent: mat-palette($mat-blue, A200, A100, A400);
$client-accent: mat-palette($md-mudhubpalette);

// The warn palette is optional (defaults to red).
$client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$client-theme: mat-light-theme($client-primary, $client-accent, $client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($client-theme);

/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	box-sizing: border-box;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


img {
	width: 100%;
}


.input {
	width: 100%;
	border: none;
	outline: none;
	padding: 0.75rem;
}

.form-row {
	$spacing: 0.5rem;
	width: 100%;
	display: flex;
	justify-content: center;

	> * {
		margin-left: $spacing;
		margin-right: $spacing;
		width: 100%;

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}
}


.mat-progress-spinner circle,
.mat-spinner circle {
	stroke: #fff;
}


.table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;

	td, th {
		padding: 0.5rem 1rem;
	}

	thead tr {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	tbody {
		tr:not(:last-child) {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
	}
}


.row {
	display: flex;
	flex-direction: row;

	.col {
		flex: 1 0;
		margin-left: 0.5rem;
		margin-right: 0.5rem;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}
