<div class="navbar">
	<div class="nav-item" routerLink="races" routerLinkActive="active" matRipple>
		<div class="number">
			<span>1</span>
		</div>
		Rassen
	</div>
	<div class="line"></div>
	<div class="nav-item" routerLink="classes" routerLinkActive="active" matRipple>
		<div class="number">
			<span>2</span>
		</div>
		Klassen
	</div>
	<div class="line"></div>
	<div class="nav-item" routerLink="items" routerLinkActive="active" matRipple>
		<div class="number">
			<span>3</span>
		</div>
		Items
	</div>
	<div class="line"></div>
	<div class="nav-item" routerLink="areas" routerLinkActive="active" matRipple>
		<div class="number">
			<span>4</span>
		</div>
		Raumsystem
	</div>
	<div class="line"></div>
	<div class="nav-item" routerLink="finish" routerLinkActive="active" matRipple>
		<div class="number">
			<span>5</span>
		</div>
		Abschluss
	</div>
</div>
<div class="outlet">
	<router-outlet></router-outlet>
</div>
