<h1>Gegenstände</h1>

<div class="button-class">
    <button mat-flat-button color="primary" (click)="changeDialog()">
        Hinzufügen
    </button>
</div>

<div class="disable-background" *ngIf="dialog">
    <div class="add-item">
        <div class="exit-button">
            <mh-exit-button (click)="changeDialog()"></mh-exit-button>
        </div>

        <br />

        <form class="general-form" [formGroup]="form" (ngSubmit)="addItem()">
            <div class="form-row">
                <mat-form-field>
                    <input matInput name="name" type="text" formControlName="name" placeholder="Name" />
                    <mat-error>Bitte gebe einen Name ein</mat-error>
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field appearance="fill">
                    <mat-label>Beschreibung</mat-label>
                    <textarea matInput formControlName="description" placeholder="Beschreibung" rows="5"></textarea>
                    <mat-error>Eine kurze Beschreibung des Gegenstands ist
                        erforderlich</mat-error>
                </mat-form-field>
            </div>
            <div class="form-row">
                <button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">
                    Gegenstand hinzufügen
                </button>
            </div>
        </form>
    </div>
</div>

<table class="table-list">
    <tr class="table-item first">
        <th>Name</th>
        <th>Beschreibung</th>
        <th>Löschen</th>
    </tr>
    <tr class="table-item" *ngFor="let item of items; index as index">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>
            <button mat-flat-button color="primary" (click)="deleteRow(index)">
                Löschen
            </button>
        </td>
    </tr>
</table>

<div class="button-menu">
    <button mat-flat-button color="warn" (click)="onAbort()">Abbrechen</button>
    <button mat-flat-button color="basic" (click)="onLast()">Zurück </button>
    <button mat-flat-button color="primary" (click)="onNext()">Weiter</button>
</div>