@import '../../../../variables.scss';

h1 {
	text-align: center;
}
mat-horizontal-stepper{
	background-color: #eee;
}

.table-list {
	border-radius: 5px;
	width: 100%;

	.table-item {
		height: 4rem;
		box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 5px 1px;

		background-color: white;

		.edits {
			text-align: center;
			vertical-align: middle;
			width: 25%;
			align-items: center;

			button {
				background-color: $color-primary;
				margin: 1rem;
			}
		}

		td {
			text-align: center;
			vertical-align: middle;
		}
	}
}

.button-class {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	z-index: 50;

	button {
		width: 15%;
		margin-bottom: 1rem;
	}
}

.button-menu {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;

	button {
		margin-right: 1rem;
	}
}

.disable-background {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	z-index: 99;

	.add-item {
		/*Position*/
		position: absolute;
		top: 49%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
		/*Styling*/
		background-color: white;
		padding: 2rem 3rem 3rem 3rem;
		border-radius: 5px;

		button {
			margin-top: 1rem;
		}
	}
}

.exit-button {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
