<mh-exit-button class="exit-button" routerLink="/muds"></mh-exit-button>
<div class="header">{{ mud?.name }}...</div>

<div class="grid">
	<div class="panel">
		<div class="panel-header">
			...mit einem früheren Charakter betreten
		</div>
		<div class="panel-content-container">
			<div class="panel-content">
				<div class="character" *ngFor="let character of previousChars">
					<div class="name">
						{{ character.name }}
					</div>
					<div class="infos">
						<table>
							<tr>
								<td>Rasse:</td>
								<td>{{ character.raceName }}</td>
							</tr>
							<tr>
								<td>Klasse:</td>
								<td>{{ character.className }}</td>
							</tr>
							<tr>
								<td>In Raum:</td>
								<td>{{ character.roomName }}</td>
							</tr>
						</table>
					</div>
					<button mat-button (click)="join(character.id)">Fortsetzen</button>
				</div>
			</div>
		</div>
	</div>
	<div class="panel">
		<div class="panel-header">
			...mit einem neuen Charakter betreten
		</div>
		<div class="panel-content-container">
			<div class="panel-content">
				<form [formGroup]="character" (ngSubmit)="onSubmit()">
					<mat-form-field class="form-row">
						<mat-label>Rasse auswählen</mat-label>
						<mat-select formControlName="race">
							<mat-option
								*ngFor="let race of races"
								[value]="race.raceId"
								>{{ race.name }}</mat-option
							>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="form-row">
						<mat-label>Klasse auswählen</mat-label>
						<mat-select formControlName="class">
							<mat-option
								*ngFor="let class of classes"
								[value]="class.classId"
								>{{ class.name }}</mat-option
							>
						</mat-select>
					</mat-form-field>
					<mat-form-field class="form-row">
						<mat-label>Charakter-Name</mat-label>
						<input matInput type="text" formControlName="name" />
					</mat-form-field>
					<div class="form-row">
						<button
							mat-stroked-button
							color="primary"
							[disabled]="character.invalid"
						>
							Beitreten
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
