<h1>My Muds</h1>

<div *ngIf="muds.length < 1">
	No Muds created
</div>

<table class="table-list" *ngIf="muds.length > 0">
	<tr class="table-item first">
		<th>Name</th>
		<th>Sichtbarkeit</th>
		<th>Neustart</th>
		<th>Bearbeiten</th>
		<th>Löschen</th>
	</tr>
	<tr class="table-item" *ngFor="let mud of muds">
		<td>{{ mud.name }}</td>
		<td>
			<div *ngIf="mud.isPublic">
				<mat-icon>lock_open</mat-icon>
			</div>
			<div *ngIf="!mud.isPublic">
				<mat-icon>lock_outline</mat-icon>
			</div>
		</td>
		<td>
			<div *ngIf="mud.autoRestart">
				<mat-icon>check</mat-icon>
			</div>
			<div *ngIf="!mud.autoRestart">
				<mat-icon>clear</mat-icon>
			</div>
		</td>
		<td>
			<button mat-button (click)="editMud(mud.mudId)">Bearbeiten</button>
		</td>
		<td>
			<button mat-button (click)="deleteMud(mud.mudId)">Löschen</button>
		</td>
	</tr>
</table>

<button mat-fab routerLink="create" class="fab">+</button>
