@import '../../../variables.scss';

h1 {
	text-align: center;
}

.table-list{

	border-radius: 5px;
	width: 100%;

	.table-item{
		height: 4rem;
		box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 5px 1px;

		background-color: white;

		button{
			background-color: $color-primary;
		}

		td{
			text-align: center; 
			vertical-align: middle;
		}

	}

}

table{
	border-spacing: 0 1rem; 
}

.fab {
	position: fixed;
	bottom: 3rem;
	right: 3rem;

	opacity: 0.85;

	&:hover {
		opacity: 1;
	}
}
