.table-list{
	display: flex;
	flex-direction: column;

	background-color: white;

	border-radius: 5px;

	.table-item{
		display: flex;
		flex-direction: row;
		margin: 1rem;
		padding-top: 1rem;

		box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 5px 1px;

		justify-content: space-around;

		.table-field{
			width: 3rem;
		}

		button{
			margin-top: -0.3rem;
			margin-bottom: 0.7rem;
			background-color: orange;
		}

	}

}

.first{
	background-color: rgb(223, 221, 221) !important;
	font-weight: bold;
	.table-field{
		width: 3rem;
	}
}

.fab {
	position: fixed;
	bottom: 3rem;
	right: 3rem;

	opacity: 0.85;

	&:hover {
		opacity: 1;
	}
}
