<h3>My Muds</h3>

<div *ngIf="muds.length < 1">
	No Muds created
</div>

<div *ngIf="muds.length > 0" class="table-list">
	<div class="table-item first">
		<p className="table-field">MudId</p>
		<p className="table-field">Name</p>
		<p className="table-field">IsPublic</p>
		<p className="table-field">Restart</p>
		<p className="table-field">Edit</p>
		<p className="table-field">Delete</p>
	</div>
	<div class="table-item" *ngFor="let mud of muds">
		<p className="table-field">{{mud.mudId}}</p>
		<p className="table-field">{{mud.name}}</p>
		<p className="table-field">{{mud.isPublic}}</p>
		<p className="table-field">{{mud.autoRestart}}</p>
		<button (click)="editMud(mud.mudId)">Edit</button>
		<button (click)="deleteMud(mud.mudId)">Delete</button>
	</div>
</div>


<button mat-fab routerLink="/mud-create">+</button>
