<form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
	{{ isInEditMode ? 'EDIT' : 'CREATE' }}
	<mat-form-field class="form-row">
		<mat-label>Name</mat-label>
		<input matInput type="text" formControlName="name" autofocus/>
	</mat-form-field>
	<mat-form-field class="form-row">
		<mat-label>Beschreibung</mat-label>
		<input matInput type="text" formControlName="description" />
	</mat-form-field>
	<div class="form-row">
		<mat-checkbox formControlName="isDefault">Eintrittsraum</mat-checkbox>
	</div>
	<div class="form-row">
		<input type="file" />
	</div>
	<div class="actions">
		<button mat-button type="submit" [disabled]="form.invalid">
			{{ isInEditMode ? 'Speichern' : 'Erstellen'}}
		</button>
		<button mat-button type="button" [routerLink]="this.isInEditMode ? '../../' : '../'">Abbrechen</button>
	</div>
</form>
