<h1>Passwort zurücksetzen</h1>

<mat-error *ngIf="resetKey === undefined">Kein Reset-Key in URL gefunden</mat-error>

<form class="general-form" [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="form-row">
		<mat-form-field>
			<input
				type="password"
				name="password"
				matInput
				formControlName="password"
				placeholder="Neues Passwort"
				autocomplete="new-password"
			/>
			<mat-error>Bitte gebe ein neues Passwort ein!</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<input
				type="password"
				name="password-repeat"
				matInput
				formControlName="passwordRepeat"
				placeholder="Passwort wiederholen"
				autocomplete="new-password"
				[errorStateMatcher]="matcher"
			/>
			<mat-error *ngIf="form.hasError('notSame')"
				>Die eingegebenen Passwörter stimmen nicht überein!</mat-error
			>
		</mat-form-field>
	</div>
	<div class="form-row">
		<button
			mat-flat-button
			color="primary"
			type="submit"
			class="reset-button"
			[disabled]="form.invalid || !resetKey"
		>
			Zurücksetzen
		</button>
	</div>
</form>
