<!--Stepper-->
<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
	<mat-step>
		<ng-template matStepLabel>
			<div (click)="jump('races')">Rassen</div>
		</ng-template>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>
			<div (click)="jump('classes')">Klassen</div>
		</ng-template>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>
			<div (click)="jump('items')">Gegenstände</div>
		</ng-template>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>
			<div (click)="jump('rooms')">Räume</div>
		</ng-template>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>
			<div (click)="jump('finish')">Fertig</div>
		</ng-template>
	</mat-step>
</mat-horizontal-stepper>

<div class="container">
	<mh-area-list
		class="areas"
		[areas]="areas"
		[selectedArea]="selectedArea"
		(newArea)="addArea()"
		(select)="selectArea($event)"
		(delete)="deleteArea($event)"
	></mh-area-list>
	<mh-rooms-grid
		*ngIf="selectedArea"
		class="rooms"
		[rooms]="rooms"
		(create)="createRoom($event)"
		(delete)="deleteRoom($event)"
	></mh-rooms-grid>
</div>

<div class="button-menu">
	<button mat-flat-button color="warn" (click)="onAbort()">Abbrechen</button>
	<button mat-flat-button color="basic" (click)="onLast()">Zurück</button>
	<button mat-flat-button color="primary" (click)="onNext()">Weiter</button>
</div>
