
:host {
	width: 90%;
	position: absolute;
	left: 5%;
}


.container {
	display: flex;
	flex-direction: row;

	height: 600px;

	.areas {
		width: 20%;
		margin-right: 2rem;
	}

	.rooms {
		flex: 1;
	}
}


.button-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
        margin-right: 1rem;
    }
}


.create-room {
	color: #fff;
	background: #333;
	padding: 1rem;
	cursor: pointer;
}
