.muds {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.mud {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: justify;

	border: 1px solid transparent;

	background: #fff;
	padding: 1.5rem;
	border-radius: 4px;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
		0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
	position: relative;

	&.is-own {
		.owner-icon {
			display: block;
		}
	}

	.owner-icon {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		display: none;
		opacity: 0.2;
	}

	> *:not(:last-child) {
		margin-bottom: 1rem;
	}

	.mud-title {
		font-size: 120%;
		font-weight: bold;
	}

	.mud-actions {
		display: flex;
		flex-direction: column;
	}
}

.view-side-form ::ng-deep {


	ng-component {
		position: fixed;
		z-index: 100;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 2rem);
		max-width: 1200px;
		height: 600px;
		background: #fff;
		border-top: 1px solid #e0e0e0;
		box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.2);

		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		padding: 2rem;
	}
}
