<h1>MUD - Übersicht</h1>

<div class="muds">
	<div class="mud" *ngFor="let mud of muds">
		<div class="mud-title">{{ mud.name }}</div>
		<div class="mud-description">{{ mud.description }}</div>
		<div class="mud-actions">
			<button
				mat-stroked-button
				color="primary"
				*ngIf="mud.isPublic"
				[routerLink]="'join'"
				[queryParams]="{ mudid: mud.mudId }"
			>
				Spielen
			</button>
			<button mat-stroked-button color="primary" *ngIf="!mud.isPublic">
				Anfragen
			</button>
		</div>
	</div>
</div>
<div class="view-side-form">
	<router-outlet></router-outlet>
</div>
