<h1>MUD - Übersicht</h1>

<div class="muds">
	<div class="mud" *ngFor="let i of Array(10)">
		<div class="mud-title">Bestes MUD EU-West</div>
		<div class="mud-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta praesentium sapiente perferendis, delectus impedit voluptates, aut iure architecto odio neque ipsum velit! Eos, vel tempora. Vel fuga officia nihil saepe?</div>
		<div class="mud-actions">
			<button mat-stroked-button color="primary">Spielen</button>
		</div>
	</div>
</div>
