<h1>MUD - Übersicht</h1>

<div class="muds">
	<div class="mud" [class.is-own]="m.mud.owner.id === user.id" *ngFor="let m of list">
		<mat-icon class="owner-icon">assignment_ind</mat-icon>
		<div class="mud-title">{{ m.mud.name }}</div>
		<div class="mud-description">{{ m.mud.description }}</div>
		<div class="mud-actions">
			<small *ngIf="m.requestState === RequestState.Rejected">Sie wurden blockiert</small>
			<button
				mat-stroked-button
				color="primary"
				*ngIf="m.mud.isPublic || m.mud.owner.id == user.id || m.requestState === RequestState.Accepted"
				[routerLink]="'join'"
				[queryParams]="{ mudid: m.mud.mudId }"
				[disabled]="!m.mud.isRunning || m.requestState === RequestState.Rejected"
			>
				Spielen
			</button>
			<button
				mat-stroked-button
				color="primary"
				*ngIf="!(m.mud.isPublic || m.mud.owner.id == user.id || m.requestState === RequestState.Accepted)"
				[disabled]="m.requestState === RequestState.Requested || m.requestState === RequestState.Rejected"
				(click)="requestAccess(m.mud)"
			>
				Anfragen
			</button>
		</div>
	</div>
</div>
<div class="view-side-form">
	<router-outlet></router-outlet>
</div>
