@import "src/variables.scss";

$infobar-height: 450px;
$infobar-width: 500px;

$scrollbar-width: 10px;
$scrollbar-track-color: #555;
$scrollbar-thumb-color: lighten($scrollbar-track-color, 10%);

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: consolas;
	padding: 0.5rem;
	overflow-y: auto;


	/* width */
	&::-webkit-scrollbar { width: $scrollbar-width; }
	/* Track */
	&::-webkit-scrollbar-track { background: $scrollbar-track-color; }
	/* Handle */
	&::-webkit-scrollbar-thumb { background: $scrollbar-thumb-color; }
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover { }



	.message {
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}

		&.user-input {
			opacity: 0.7;

			&::before {
				content: "> ";
			}
		}
	}
}