:host {
	display: flex;
	flex-direction: column;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.message-sender {
	color: rgb(207, 109, 43);
	font-size: 80%;
}

.message-content {
	line-height: 115%;
}
