@import 'src/variables.scss';

:host {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 80%;
	word-break: break-word;


	&:not(:last-child) {
		margin-bottom: 0.4rem;
	}

	&.self {
		align-self: flex-end;
		align-items: flex-end;
	}

	&.server-message {
		max-width: 100%;
		width: 100%;
		text-align: center;
		font-style: italic;
		opacity: 0.75;
	}
}

.message-sender {
	color: $color-primary;
	font-weight: bold;
	font-size: 80%;
}

.message-content {
	line-height: 100%;
	width: 100%;
}
