@import 'src/variables.scss';

:host {
	word-break: break-word;
	padding: 0.5rem 0.7rem;
	max-width: 80%;

	align-self: flex-start;

	&.self {
		align-self: flex-end;
	}

	&:not(.server-message) {
		background-color: #fff;
		border-radius: 4px;
	}

	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}


	&.server-message {
		width: 100%;
		max-width: 100%;
		text-align: center;
		font-style: italic;
		opacity: 0.8;
	}
}

.message-sender {
	color: $color-primary;
	font-weight: bold;
	font-size: 80%;
}

.message-content {
	line-height: 100%;
	width: 100%;
}
