<h1 class="title">Registrieren</h1>

<div class="form-row">
	<input
		[formControl]="firstname"
		type="text"
		class="input"
		name="firstname"
		id="firstname"
		placeholder="Vorname"
	/>
	<input
		[formControl]="lastname"
		type="text"
		class="input"
		name="lastname"
		id="lastname"
		placeholder="Nachname"
	/>
</div>
<div class="form-row">
	<input
		[formControl]="mail"
		class="input"
		type="text"
		name="mail"
		id="mail"
		placeholder="E-Mail"
	/>
</div>
<div class="form-row">
	<input
		[formControl]="password"
		class="input"
		type="password"
		name="password"
		id="password"
		placeholder="Passwort"
	/>
</div>
<div class="form-row">
	<button>Registrieren</button>
</div>

<div class="login">
	<p>Schon registriert?</p>
	<a routerLink="/login">Anmelden</a>
</div>
