<h1 class="title">Registrieren</h1>

<div class="form-row">
	<input
		type="text"
		class="input"
		name="firstname"
		id="firstname"
		placeholder="Vorname"
	/>
	<input
		type="text"
		class="input"
		name="lastname"
		id="lastname"
		placeholder="Nachname"
	/>
</div>
<div class="form-row">
	<input
		class="input"
		type="text"
		name="mail"
		id="mail"
		placeholder="E-Mail"
	/>
</div>
<div class="form-row">
	<input
		class="input"
		type="password"
		name="password"
		id="password"
		placeholder="Passwort"
	/>
</div>
<div class="form-row">
	<button>Anmelden</button>
</div>

<a routerLink="/login/register">Registrieren</a>
