@import 'src/variables.scss';

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

form {
	width: 100%;
}

.register-button {
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}

.login {
	text-align: center;

	a {
		text-decoration: underline;
		font-size: 14px;
		color: black;
	}

	a:hover {
		color: $color-primary;
	}
}
