@import "src/variables.scss";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.register-button {
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}

.login{
	text-align: center;

	a{
		text-decoration: underline;
        font-size: 14px;
        color: black;
	}

	a:hover {
		color: #F9981D;
	}
}

.password-error {
	font-size: 75%;
	margin-top: -1.3rem;
}
