@import "src/variables.scss";

:host {
	max-height: 100%;
	position: relative;
	display: flex;
}

.info-bar {
	width: 55px;
	border: 1px solid red;
	height: 100%;
}

.chat {
	border: 1px solid green;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.nav {
	padding: 0;
	margin: 0 auto;
	margin-bottom: 0.5rem;
	list-style: none;
	display: flex;
	text-align: center;
	width: calc(100% - 8rem);

	.nav-item {
		flex: 1;
		padding: 0.5rem 1.5rem;
		border-bottom: 3px solid transparent;
		cursor: pointer;

		&.active {
			border-bottom-color: $color-primary;
		}
	}
}


.toggler {
	::before {
		width: 100%;
	}
}


.shell {
	flex-grow: 1;
	overflow: hidden;
	padding: 0.5rem;

	font-size: 95%;
}
