<ul class="nav">
	<li class="nav-item" (click)="activeChat = 'global'" [class.active]="activeChat == 'global'">Global</li>
	<li class="nav-item" (click)="activeChat = 'room'" [class.active]="activeChat == 'room'">Raum</li>
	<li class="nav-item" (click)="activeChat = 'private'" [class.active]="activeChat == 'private'">Privat</li>
</ul>

<div class="shell" [ngSwitch]="activeChat">
	<mh-chat-global *ngSwitchCase="'global'"></mh-chat-global>
	<mh-chat-room *ngSwitchCase="'room'"></mh-chat-room>
	<b *ngSwitchDefault>Not implemented</b>
</div>
