<mat-accordion multi="true">
    <!--Übersicht Rassen-->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Rassen
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let race of races; let i = index">
            <p>Rasse {{i}}: Name: {{ race.name }}, Beschreibung: {{ race.description }}</p>
		</div>

    </mat-expansion-panel>

    <!--Übersicht Klassen-->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Klassen
            </mat-panel-title>

		</mat-expansion-panel-header>

		<div *ngFor="let class of classes; let i = index">
            <p>Klasse {{i}}: Name: {{ class.name }}, Beschreibung: {{ class.description }}</p>
		</div>

    </mat-expansion-panel>

    <!--Übersicht Items-->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Gegenstände
            </mat-panel-title>

		</mat-expansion-panel-header>

		<div *ngFor="let item of items; let i = index">
            <p>Gegenstand {{i}}: Name: {{ item.name }}, Beschreibung: {{ item.description }}</p>
		</div>

    </mat-expansion-panel>

    <!--Übersicht Räume-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Räume
            </mat-panel-title>

		</mat-expansion-panel-header>

		<div *ngFor="let room of rooms; let i = index">
            <p>Raum {{i}}: Name: {{ room.name }}, Beschreibung: {{ room.description }}, in Area: {{ room.area.name}}</p>
		</div>

    </mat-expansion-panel>
</mat-accordion>


<div class="button-menu">
    <button mat-flat-button color="warn" routerLink="../../">Abbrechen</button>
    <button mat-flat-button color="basic" routerLink="../areas">Zurück</button>
    <button mat-flat-button color="primary" (click)="onSubmit()">Fertigstellen</button>
</div>
