h1 {
	text-align: center;
}
mat-horizontal-stepper{
	background-color: #eee;
}

.button-menu{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
        margin-right: 1rem;
    }
}

.align-beside{
    display: flex;
    flex-direction: row;

    p{
        margin-right: 1rem;
    }

}