<h1 class="title">Passwort zurücksetzen</h1>

<div class="form-row">
	<mat-form-field>
		<input
			[formControl]="mail"
			matInput
			type="text"
			class="input"
			name="email"
			id="mail"
			autocomplete="email"
			placeholder="E-Mail"
		/>
		<mat-error *ngIf="mail.hasError('required')">Um das Passwort zurückzusetzen muss eine E-Mail Adresse eingegeben werden</mat-error>
		<mat-error *ngIf="mail.hasError('email')">Keine valide E-Mail Adresse</mat-error>
	</mat-form-field>
</div>

<div class="form-row">
	<button (click)="reset()" class="reset-button" mat-flat-button color="primary" [disabled]="mail.invalid || wasSent">Zurücksetzen</button>
</div>
<p *ngIf="wasSent">Die Anfrage wurde abgesendet</p>

<small class="hint">Es wird eine Email mit einem Rücksetzungslink an die angegebene Addresse geschickt</small>
<a routerLink="/login">Anmelden</a>

