@import "src/variables.scss";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 1rem;
    font-size: 30px;
}

input{
    height: 20px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: #eee;
    margin-top: 20px;
}

.below {
    flex-direction: column;
}

.reset-button {
	margin-top: 1.5rem;
}

a{
    margin-top: 20px;
    font-size: 14px;
    color: black;
}

a:hover {
    color: $color-primary;
}

.hint {
	text-align: center;
	opacity: 0.6;
}
