<form class="general-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
	<mat-form-field appearance="fill">
		<mat-label>Name</mat-label>
		<input type="text" matInput formControlName="name" />
		<mat-error *ngIf="createForm.controls.name.errors?.required"
			>Jedes gute MUD braucht einen Namen</mat-error
		>
		<mat-error *ngIf="createForm.controls.name.errors?.minlength"
			>Der Name muss mindestens
			{{
				createForm.controls.name.errors?.minlength.requiredLength
			}}
			Zeichen lang sein, aktuell
			{{
				createForm.controls.name.errors?.minlength.actualLength
			}}</mat-error
		>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Beschreibung</mat-label>
		<textarea matInput formControlName="description" rows="5"></textarea>
		<mat-error
			>Eine kurze Beschreibung deines MUDs ist erforderlich</mat-error
		>
	</mat-form-field>
	<mat-checkbox
		formControlName="public"
		matTooltip="Soll das MUD allen Spielern automatisch zur verfügung stehen?"
		matTooltipPosition="right"
		>Öffentlich</mat-checkbox
	>
	<mat-checkbox
		formControlName="autoRestart"
		matTooltip="Soll das MUD nach einem Neustart des Server automatisch mit starten?"
		matTooltipPosition="right"
		>Auto-Start</mat-checkbox
	>
	<button
		type="submit"
		mat-flat-button
		color="primary"
		[disabled]="createForm.invalid"
	>
		Erstellen
	</button>
</form>
