<h1 class="title">Login</h1>

<div class="form-row">
	<input
		[formControl]="mail"
		class="input"
		type="mail"
		name="mail"
		id="mail"
		placeholder="E-Mail"
	/>
</div>
<div class="form-row">
	<input
		[formControl]="password"
		class="input"
		type="password"
		name="password"
		id="password"
		placeholder="Passwort"
	/>
</div>

<a routerLink="/login/reset">Passwort vergessen?</a>

<div class="form-row">
	<button>Anmelden</button>
</div>

<div class="register">
	<p> Noch keinen Account? </p>
	<a routerLink="/login/register">Registrieren</a>
</div>
