<h1 class="title">Login</h1>

<form class="general-form" [formGroup]="form" (ngSubmit)="login()">
	<div class="form-row">
		<mat-form-field>
			<input
				type="text"
				matInput
				formControlName="email"
				placeholder="E-Mail"
			/>
			<mat-error>Bitte gebe einen Nutzernamen ein</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<input
				matInput
				formControlName="password"
				type="password"
				placeholder="Passwort"
			/>
			<mat-error>Bitte gebe ein Passwort ein</mat-error>
		</mat-form-field>
	</div>
</form>

<a routerLink="/login/reset">Passwort vergessen?</a>

<button
	class="login-button"
	mat-flat-button
	color="primary"
	[disabled]="isLoading || form.invalid"
	(click)="login()"
>
	Anmelden
</button>

<div class="register">
	Noch keinen Account?<br />
	<a routerLink="/login/register">Registrieren</a>
</div>
