<h1 class="title">Login</h1>

<form class="general-form" [formGroup]="form" (ngSubmit)="login()">
	<div class="form-row">
		<mat-form-field>
			<input
				type="email"
				matInput
				formControlName="email"
				placeholder="E-Mail"
			/>
			<mat-error *ngIf="form.controls.email.hasError('required')">Bitte gebe eine Email-Adresse ein ein</mat-error>
			<mat-error *ngIf="form.controls.email.hasError('email')">Keine gültige Email-Adresse</mat-error>
		</mat-form-field>
	</div>
	<div class="form-row">
		<mat-form-field>
			<input
				matInput
				formControlName="password"
				type="password"
				placeholder="Passwort"
			/>
			<mat-error>Bitte gebe ein Passwort ein</mat-error>
		</mat-form-field>
	</div>

	<a routerLink="/login/reset">Passwort vergessen?</a>

	<button
		class="login-button"
		type="submit"
		mat-flat-button
		[color]="error ? 'warn' : 'primary'"
		[disabled]="isLoading || form.invalid"
	>
		Anmelden
	</button>
	<mat-error *ngIf="error">Anmeldung fehlgeschlagen</mat-error>
</form>


<div class="register">
	Noch keinen Account?<br />
	<a routerLink="/login/register">Registrieren</a>
</div>
