@import "src/variables.scss";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 1rem;
    font-size: 30px;
}


input {
    height: 20px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: #eee;
    margin-top: 20px;
  }

a{
	margin-top: 20px;
	font-size: 14px;
	color: black;
	text-decoration: none;
}
a:hover {
	color: $color-primary;
}

.register{
	padding-top: 1rem;

	a{
		padding-left: 37px;
		text-decoration: underline;
	}

}

.login-button {
	margin: 1rem auto;
	width: 100%;
}
