:host {
	display: flex;
	height: 100vh;
}

.chat {
	width: 25%;
	height: 100%;
	min-width: 300px;
	max-width: 450px;
}

.game {
	flex-grow: 1;
	height: 100%;
}


.toggle-chat {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}
