<!--Rassen Inhalt-->
<div class="button-class">
	<button mat-flat-button color="primary" (click)="changeDialog()">
		Hinzufügen
	</button>
</div>

<div class="disable-background" *ngIf="dialog">
	<div class="add-race">
		<div class="exit-button">
			<mh-exit-button (click)="changeDialog()"></mh-exit-button>
		</div>

		<br />

		<form class="general-form" [formGroup]="form" (ngSubmit)="addRace()">
			<div class="form-row">
				<mat-form-field>
					<input matInput name="name" type="text" formControlName="name" placeholder="Name" />
					<mat-error>Bitte gebe einen Rassennamen ein</mat-error>
				</mat-form-field>
			</div>
			<div class="form-row">
				<mat-form-field appearance="fill">
					<mat-label>Beschreibung</mat-label>
					<textarea matInput formControlName="description" placeholder="Beschreibung" rows="5"></textarea>
					<mat-error>Eine kurze Beschreibung der Rasse ist
						erforderlich</mat-error>
				</mat-form-field>
			</div>
			<div class="form-row">
				<input accept="image/*" ide="imagekey" type="file" class="custom-file-input"
					(change)="onFileSelected($event)" />
			</div>
			<div class="form-row">
				<button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">
					Rasse hinzufügen
				</button>
			</div>
		</form>
	</div>
</div>

<table class="table-list">
	<tr class="table-item first">
		<th>Name</th>
		<th>Beschreibung</th>
		<th>Bild</th>
		<th>Löschen</th>
	</tr>
	<tr class="table-item" *ngFor="let race of races; index as index">
		<td>{{ race.name }}</td>
		<td>{{ race.description }}</td>
		<td>
			<div *ngIf="race.imagekey != null">
				<mat-icon>check</mat-icon>
			</div>
			<div *ngIf="race.imagekey == null">
				<mat-icon>clear</mat-icon>
			</div>
		</td>
		<td>
			<button mat-flat-button color="primary" (click)="deleteRow(index)">
				Löschen
			</button>
		</td>
	</tr>
</table>

<div class="button-menu">
	<button mat-flat-button color="warn" (click)="onAbort()">Abbrechen</button>
	<button mat-flat-button color="primary" (click)="onNext()">Weiter</button>
</div>
