<h1>Races</h1>

<div class="button-class">
	<button mat-flat-button color="primary" type="submit">Hinzufügen</button>
</div>

<div class="add-race" hidden="{{dialog}}">
	<form class="general form" [formGroup]="form" (ngSubmit)="addRace()">
		<div class="form-row">
			<mat-form-field>
				<input matInput name="name" type="text" placeholder="Name" />
				<mat-error *ngIf="form.controls.name.hasError('required')"
					>Bitte gebe einen Rassennamen ein</mat-error
				>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field>
				<input
					matInput
					name="description"
					type="text"
					placeholder="Beschreibung"
				/>
				<mat-error
					*ngIf="form.controls.description.hasError('required')"
					>Bitte gebe eine Beschreibung ein</mat-error
				>
			</mat-form-field>
		</div>
		<div class="form-row">
			<mat-form-field>
				<input
					matInput
					name="imagekey"
					type="text"
					placeholder="Bildschlüssel"
				/>
			</mat-form-field>
		</div>
		<div class="form-row">
			<button mat-flat-button type="submit" color="primary">
				Add Race
			</button>
		</div>
	</form>
</div>

<table class="table-list">
	<tr class="table-item first">
		<th>Name</th>
		<th>Beschreibung</th>
		<th>Bild</th>
	</tr>
	<tr class="table-item" *ngFor="let race of races">
		<td>{{ race.name }}</td>
		<td>{{ race.description }}</td>
		<td>{{ race.imagekey }}</td>
	</tr>
</table>

<div class="button-menu">
	<button mat-flat-button color="warn" (click)="onAbort()">Cancel</button>
	<button mat-flat-button color="basic" (click)="onLast()">Back</button>
	<button mat-flat-button color="primary" (click)="onSubmit()">Next</button>
</div>
