<div class="muds">
	<div class="mud" *ngFor="let mud of charsByMuds">
		<h2>{{ mud.mud.name }}</h2>
		<div class="characters">
			<div class="character" *ngFor="let character of mud.chars">
				<div class="infos">
					<div class="race">{{ character.raceName }}</div>
					<div class="class">{{ character.className }}</div>
				</div>
				<div class="name">{{ character.name }}</div>
				<div class="actions">
					<button mat-stroked-button [routerLink]="'/game/' + character.id">Spielen</button>
					<button mat-stroked-button (click)="deleteCharacter(character)">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
