@import "src/variables.scss";

:host {
	padding: 1rem;
}

input {
	width: 100%;
	padding: 1rem;
	border-radius: 0.5rem;
	color: #eee;

	font-family: 'Consolas';

	font-size: 120%;
	outline: none;

	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.5);

}
